body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  font-size: 120%;
  background-size: cover;
}

.content {
  background: black;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
 transition: 0.1s ease;
 opacity: 0.5;
 text-align: center;
 display: flex;
 justify-content: center;
 vertical-align: center;
 flex-wrap: wrap;
}

.content:hover{
  opacity: 1;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
}

.description{
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 120%;
  font-weight: bold;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5em;
  border-radius: 50%;
  border: none;
  height: 44px;
  width: 44px;
  outline: none;
  background: #7c7c7c2b;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background: #8383836b;
}

input.search-bar {
  border: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #8686862b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 170px);
  outline: none;
}

h1.temp {
  margin: 0;
  margin-bottom: 0.4em;
}

.weather img{
  width: 35%;
}

.wind{
  margin-bottom: 1rem;
}
